.menu{width: 1200px;margin: -50px auto 0;background: #fff;box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    padding: 10px 0;border-radius: 4px;}
.menu_item{display: flex;padding-left: 30px;}
.menu_item_span{white-space: nowrap;line-height: 30px;font-size: 14px;color: #666;}
.menu_item_ul{display: flex;flex-wrap: wrap;}
.menu_item_li{list-style: none;border-radius: 8px;white-space: nowrap;margin-bottom: 5px;margin-bottom: 10px;}
